{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
  <div class="main-content">
    <div class="container-211">
      <h2>FANKICK account</h2>
      <h4>FANKICK 계정으로 로그인해주세요.</h4>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.email.label_tag }}
          {{ form.email }}
          {% if form.email.errors %}
            <div class="error">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label_tag }}
          {{ form.password }}
          {% if form.password.errors %}
            <div class="error">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
{% endblock %}