{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts/signup_step1.css' %}">
  <div class="main-content">
    <div class="container-211">
      <h2>FANKICK account</h2>
      <p>FANKICK에 오신 것을 환영합니다.<br>회원가입을 진행해주세요.</p>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.email.label_tag}}
          {{ form.email }}
          {% if form.email.errors %}
            <div class="error">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">이메일로 계속하기</button>
      </form>
    </div>
  </div>
{% endblock %}