{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/search/search_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search/search_results.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div id="search-container" class="header-search-container">
    <img id="search-icon" src="{% static 'images/search_icon.svg' %}" alt="Search Icon" onclick="toggleSearchBar()">
    <div id="search-bar" class="header-search-bar" style="display: none;">
        <div class="search-bar-icon">
            <img src="{% static 'images/search_icon.svg' %}" alt="Search Icon">
        </div>
        <input type="text" id="search-input" class="search-bar-input" placeholder="플레이어 검색">
        <div id="search-results" class="search-results"></div> <!-- 검색 결과를 표시할 공간 -->
    </div>
</div>

<script>
    function toggleSearchBar() {
        var searchIcon = document.getElementById('search-icon');
        var searchBar = document.getElementById('search-bar');

        if (searchBar.style.display === 'none') {
            searchIcon.style.display = 'none';
            searchBar.style.display = 'flex';
            searchBar.querySelector('.search-bar-input').focus();
        } else {
            searchBar.style.display = 'none';
            searchIcon.style.display = 'block';
        }
    }

    // Add event listener to close the search bar when clicking outside of it
    document.addEventListener('click', function(event) {
        var searchContainer = document.getElementById('search-container');
        var searchBar = document.getElementById('search-bar');
        var searchIcon = document.getElementById('search-icon');
        if (!searchContainer.contains(event.target)) {
            searchBar.style.display = 'none';
            searchIcon.style.display = 'block';
        }
    });

    $(document).ready(function() {
    $('#search-input').on('input', function() {
        var query = $(this).val();
        if (query.length > 1) {
            $.ajax({
                url: '{% url "search:autocomplete" %}',
                data: { 'q': query },
                success: function(data) {
                    var resultsHtml = '';
                    data.forEach(function(item) {
                        resultsHtml += `
                        <div class="search-result-item" data-url="${item.url}">
                            <div class="search-result-icon">
                                <div class="search-icon-circle">
                                    <img src="${item.image}" alt="${item.name}" class="search-icon-symbol">
                                </div>
                            </div>
                            <div class="search-result-text">
                                ${item.name} (${item.type})
                            </div>
                        </div>`;
                    });
                    $('#search-results').html(resultsHtml);
                }
            });
        } else {
            $('#search-results').empty();
        }
    });

    $(document).on('click', '.search-result-item', function() {
        window.location.href = $(this).data('url');
    });
});

</script>

{% block extra-script %}{% endblock extra-script %}
</body>
</html>
