{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
</head>

<body>
<footer class="footer">
    <div class="footer-top"></div>
    <div class="fotter-content">
        <div class="top-section">
            <div class="left-column">
                <div class = "logo">
                    <a href = "#"><img src="{% static 'fankick_logo.png' %}" alt="FANKICK LOGO"></a>
                </div>
            </div>
            <div class="right-column">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mb-3 font-weight-bold">Project</h4>
                        <a class="text-decoration-none git-link" href="https://github.com/FanKick/Fan_Kick">
                            <h5>Repository</h5>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="team-member">
                            <h4 class="font-weight-bold">Member</h4>
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <a href="https://github.com/hyunsu-1130" class="text-decoration-none git-link">신현수</a>
                                </li>
                                <li class="mb-2">
                                    <a href="https://github.com/parksungjoon0805" class="text-decoration-none git-link">박성준</a>
                                </li>
                                <li class="mb-2">
                                    <a href="https://github.com/iseunglee" class="text-decoration-none git-link">이승희</a>
                                </li>
                                <li class="mb-2">
                                    <a href="https://github.com/heize-lee" class="text-decoration-none git-link">이지현</a>
                                </li>
                                <li class="mb-2">
                                    <a href="https://github.com/chlryddk" class="text-decoration-none git-link">최윤아</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-section">
            <div class="pt-3 left-column">
                <h4 class="font-weight-bold">FAN KICK</h4>
                <p>축구 팬들이 선수와 직접 소통하고, 자신만의 콘텐츠를 공유하며, 다양한 상품과 이벤트를 즐길 수 있는 커뮤니티 플랫폼</p>
            </div>
            <div class="pt-3 right-column">
                <h4>&nbsp;</h4>
                <p>© 2024 Jewelry Box. All right reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>