{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>

<body>
<header class="header">
    <div class="header-logo">
        <a href="#">
            <img src="{% static 'fankick_logo.png' %}" alt="FANKICK LOGO">
        </a>
    </div>

    <div class="header-nav-links">
        {% if user.is_authenticated %}
            {% include 'search/search_bar.html' %}
            
            <!-- Notification Icon -->
            <div class="header-nav-item">
                <div class="header-icon-container">
                    <img src="{% static 'images/notification_icon.svg' %}" alt="Notification Icon">
                </div>
            </div>

            <!-- Profile Icon -->
            <div class="header-nav-item">
                <div class="header-icon-container">
                    <a href="{% url 'accounts:update_user_info' %}">
                        <img src="{% static 'images/profile_icon.svg' %}" alt="Profile Icon">
                    </a>
                </div>
            </div>

            <!-- DM Icon -->
            <div class="header-nav-item header-profile-icon">
                <a href="{% url 'chattings:redirect_to_dm' %}">
                    <img src="{% static 'images/dm_icon.svg' %}" alt="DM Icon">
                </a>
            </div>
            
            <!-- Logout Button -->
            <div class="header-nav-item header-button-container">
                <a href="{% url 'accounts:logout' %}">
                    <div>Log out</div>
                </a>
            </div>
        {% else %}
            <!-- Sign in and Log in Buttons -->
            <div class="header-nav-item header-button-container">
                <a href="#">
                    <div>Sign in</div>
                </a>
            </div>
            <div class="header-nav-item header-button-container">
                <a href="#">
                    <div>Log in</div>
                </a>
            </div>
        {% endif %}
    </div>
</header>

{% block extra-script %}{% endblock extra-script %}
</body>
